@use "../../SharedStyles/Colors.scss";

:root {
  --graph-bg: #{Colors.$white-t90};
}

[data-theme="dark"] {
  --graph-bg: #{Colors.$black-t90};
}

.GraphMainContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  max-width: 800px;
  height: 400px;

  svg {
    flex-shrink: 0;

    .curve {
      transform-origin: 50% 100%;
      animation: startGrowth 0.5s ease-in-out forwards;
      transition: fill 0.5s ease-in-out;
    }
  }

  .bar {
    rect {
      fill: darkgrey;
      transform-origin: 50% 100%;
      animation: startGrowth 0.5s ease-in-out forwards;
      transition: fill 0.5s ease-in-out;
    }
    text {
      fill: transparent;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      rect {
        fill: lightcoral;
        transition: fill 0s ease-in-out;
      }
      text {
        fill: lightcoral;
        transition: fill 0s ease-in-out;
      }
    }
  }

  @keyframes startGrowth {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
