.AboutPageBackgroundMainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  right: 0px;
  transform: scale(1.2) rotate(-5deg);
  animation: rotateAnim 60s ease-in-out infinite alternate 2s;

  @keyframes rotateAnim {
    from {
      transform: scale(1.2) rotate(-5deg);
    }
    to {
      transform: scale(1.2) rotate(5deg);
    }
  }

  @media (max-width: 768px) {
    height: 100vh;
    height: 100dvh;
    position: fixed;
  }

  .AboutPageBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/tech_bg/tech_light_bg.jpg");
    background-size: cover;
    background-position: center;
    animation: scaleAnim 20s ease-in-out infinite alternate;
    transition: background-image 0.2s ease-in-out;

    @keyframes scaleAnim {
      from {
        transform: scale(1.05);
      }
      to {
        transform: scale(1.2);
      }
    }
  }

  .AboutPageBackgroundOverlay {
    position: absolute;
    width: 100%;
    height: 100%;

    mask-image: url("/tech_bg/city_mask.svg");
    mask-size: cover;
    mask-position: center;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/tech_bg/tech_light_bg.jpg");
      background-size: cover;
      background-position: center;
      animation: scaleAnim2 10s ease-in-out infinite alternate;
      transition: background-image 0.2s ease-in-out;
    }

    @keyframes scaleAnim2 {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }
  }

  .AboutPageBackgroundLines {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/tech_bg/city_lines.svg");
    background-size: cover;
    background-position: center;
  }
}

[data-theme="dark"] {
  .AboutPageBackgroundMainContainer {
    .AboutPageBackground {
      background-image: url("/tech_bg/tech_dark_bg.jpg");
    }
    .AboutPageBackgroundOverlay::after {
      background-image: url("/tech_bg/tech_dark_bg.jpg");
    }
  }
}
