@use "./SharedStyles/Colors.scss";

:root {
  --about-bg-color: theme("colors.sky.200"); //#d2f1ff;
  --about-block-bg: #{Colors.$white-t70};
}

[data-theme="dark"] {
  --about-bg-color: theme("colors.gray.800");
  --about-block-bg: #{Colors.$black-t70};
}

.AboutPageMainContainer {
  background-color: var(--about-bg-color);

  .BasicPageCenterContainer {
    padding: 24px;
    padding-top: 104px;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
  }

  .AboutPageBlockContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--about-block-bg);
    border-radius: 15px;
    border: 1px solid var(--border-color);
    max-width: 600px;
    -webkit-backdrop-filter: blur(6.3px);
    backdrop-filter: blur(6.3px);
    transform: translateX(-120%);
    transition: background-color 0.3s ease-in-out;

    .MarginBottom10 {
      margin-bottom: 10px;
    }
  }

  .AboutPageBlockContainerAnimated {
    animation: moveInside 0.8s cubic-bezier(0, 0.97, 0.73, 0.99) forwards;
  }

  .AboutPageBlockContainerAnimated1 {
    animation: moveInside 0.8s cubic-bezier(0, 0.97, 0.73, 0.99) 0.1s forwards;
  }

  .AboutPageBlockContainerAnimated2 {
    animation: moveInside 0.8s cubic-bezier(0, 0.97, 0.73, 0.99) 0.2s forwards;
  }

  .AboutPageBlockContainerAnimated3 {
    animation: moveInside 0.8s cubic-bezier(0, 0.97, 0.73, 0.99) 0.3s forwards;
  }

  @keyframes moveInside {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .AboutPageItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 16px;
  }

  .AboutPageSubContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
  }

  .AboutPageLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: unset;
  }
}

@supports selector(html:has(.AboutPageMainContainer)) {
  html:has(.AboutPageMainContainer) {
    background-color: var(--about-bg-color);
  }
}
